html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.CounterText {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.ButtonsContainer {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

.Button {
  margin: 8px;
}

.ErrorMessage {
  color: red;
}
